<div *ngIf="filteredBookmark.length>0" class="px-5 mb-5 "> <span class="font-bold">Category {{category}}</span>

    <div class="mb-12 mt-5 px-5 h-48 overflow-y-scroll  border-2 border-grey-600">
        <div *ngFor="let bookmark of filteredBookmark" class="py-2">
            <div class="flex justify-between">
                <a href={{bookmark.url}} target="_blank">{{bookmark.title}}</a>
                <button mat-stroked-button color="primary" (click)="viewDetails(bookmark.id)">Details</button>
            </div>
        </div>
    </div>
</div>
